= content_for :title do
  Explore Projects

.projectlist{:class => 'span-8'}
  %ul
    - @categories.each do |category|
      %li
        %a{:href => explore_path(:category => category.id)}
          = category.name
        - comb  = category.combien
        - unless  comb.zero? then
          = surround '(', ')' do
            = comb
- @projects.each do |project|
  .exploreproject{:class => 'span-16 last'}
    .explorepic{:class => 'span-2'}
      %img{:width => '100%', :src => asset_path(project.image)}
    .exploredata{:class => 'span-14 last'}
      .header
        = project.name
      .descr
        = project.description
= will_paginate @projects
