= content_for :title do
  Support
  = @project.name

.projects
  .project{:class => 'span-8 prepend-8 append-8'}
    .header
      %a{:href => project_path(@project.id)}
        = @project.name
    .pic
      %img{:src => asset_path(@project.image)}
    .descr
      = @project.description
    .counters
      %table{:height => '1em', :style => 'padding: 0px; margin: 0px; background: #dedede; border-radius: 20em 20em 20em 20em; font-size: 2%;'}
        %tr{:height => '1em', :style => 'padding: 0px; margin: 0px;'}
          %td{:height => '1em', :width => %[#{@project.fund_pc}%], :style => %[padding: 0px; margin: 0px; border-radius: 20em 20em 20em 20em; background: #121212; background-image: linear-gradient(bottom, rgb(0,0,0) 44%, rgb(201,201,201) 72%, rgb(61,61,61) 86%); background-image: -o-linear-gradient(bottom, rgb(0,0,0) 44%, rgb(201,201,201) 72%, rgb(61,61,61) 86%); background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 44%, rgb(201,201,201) 72%, rgb(61,61,61) 86%); background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 44%, rgb(201,201,201) 72%, rgb(61,61,61) 86%); background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 44%, rgb(201,201,201) 72%, rgb(61,61,61) 86%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(0,0,0)), color-stop(0.72, rgb(201,201,201)), color-stop(0.86, rgb(61,61,61)));]} &nbsp;
          %td &nbsp;
      .time
        Ends in
        = succeed '.' do
          = time_ago_in_words @project.ends_at
    .tools
      %script{:src => 'https://www.paypalobjects.com/js/external/dg.js', :language => 'javascript', :type => 'text/javascript'}
      %form{:method => :post, :action => 'https://api-3t.sandbox.paypal.com/nvp'}
        %input{:type => :hidden, :name => :SUCCESSURL, :value => project_url(:project => @project.id, :from => :paypal)}/
        %input{:type => :hidden, :name => :RETURNURL, :value => project_url(:project => @project.id, :from => :paypal)}/
        %input{:type => :hidden, :name => :CANCELURL, :value => project_url(:project => @project.id)}/
        %input{:type => :hidden, :name => :SIGNATURE, :value => ''}/
        %input{:type => :hidden, :name => :USER, :value => 'SetExpressCheckout'}/
        %input{:type => :hidden, :name => :PWD, :value => 'SetExpressCheckout'}/
        %input{:type => :hidden, :name => :METHOD, :value => 'SetExpressCheckout'}/
        %input{:type => :hidden, :name => :VERSION, :value => '1.0'}/
        %input{:type => :hidden, :name => :PAYMENT_REQUEST_0_PAYMENTACTION, :value => 'Sale'}/
        %input{:type => :hidden, :name => :PAYMENT_REQUEST_0_CURRENCYCODE, :value => 'USD'}/
        %fieldset
          %legend
            Amount in USD
            = surround '(', ')' do
              %i e.g., 99.95
          %input{:type => :text, :name => :PAYMENT_REQUEST_0_AMT, :value => (@project.needs - @project.has_got).round(2)}/
        %input{:type => :image, :alt => 'Pay with Paypal', :src => 'https://www.paypal.com/en_US/i/btn/btn_dg_pay_w_paypal.gif'}/
        - # %img{:id => 'sellingpoint', :src => 'https://www.paypal.com/en_US/i/btn/btn_dg_pay_w_paypal.gif'}/
      %script
        var dg = new PAYPAL.apps.DGFlow({trigger:'sellingpoint', expType: 'instant'});
